# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/
gen/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android
#
# Some of these entries are commented out because they may be required for specific
# setups. As a general rule, you should not check in files under the build/
# directory. You can uncomment the entries if you need to check them in.
#
#android/app/build/
#android/build/
#android/.gradle/
#.gradle/
#captures/
#android/local.properties
#GeneratedPluginRegistrant.java
