<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778466348549-51ojj45su8ocvsf2mo19mh8o0jco8jh1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778466348549-51ojj45su8ocvsf2mo19mh8o0jco8jh1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>778466348549-id9kabvf3lb8nkg0r7sa8pb13trc79j4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQjwvix8MWPDv7Fk_P3Vt6iIES4Dh2BNE</string>
	<key>GCM_SENDER_ID</key>
	<string>778466348549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aiFitnessCoach</string>
	<key>PROJECT_ID</key>
	<string>ai-fitness-coach-project</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-fitness-coach-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778466348549:ios:fdfd83beee218c6281566c</string>
</dict>
</plist>